:root {
    font-size: 24px;
}

html, body, #root {
    height: 100%;
}

html, body {
    overscroll-behavior: none;
}

@keyframes gallery-detail-overlay-scale-up {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
}
